Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.suo
[Bb]in
[Dd]ebug*/
obj/
_cache
_ReSharper*/
*.user
*.resharper*
*.wrap
/Java/FirstApplication/nbproject/private/
/Java/FirstApplication/build/
/Java/FirstApplication/dist/
/Java/Practicals/Practical1/nbproject/private/
/Java/Practicals/Practical1/src/nbproject/private/
/Java/Practicals/Practical1/build/
/Java/Practicals/mySecondApplication/nbproject/private/
/Java/Practicals/mySecondApplication/build/
/Java/CheckGrade/nbproject/private/
/Java/CheckGrade/build/
/Java/ReadFile/nbproject/private/
/Java/ReadFile/build/
/Java/NetworkRead/nbproject/private/
/Java/NetworkRead/build/
/Java/SecondApplication/nbproject/private/
/Java/SecondApplication/build/
/Java/ClassTest1/nbproject/private/
/Java/ClassTest1/build/
/Java/ClassTest1/dist/